.class-colorpicker {
    height: 34px;
    width: 46px;
    border: none;
}

/* .form-control,
.slectopt {
    width: 14.5rem;
} */

.test {
    margin-right: 2rem;
}
.multisel-day {
    width: 78%;
}

.select2-container .select2-search--inline .select2-search__field {
    height: 20px !important;
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid #e9ecef !important;
}

.select2 {
    width: 100% !important;
}

.pay-status {
    width: 3.5rem;
    color: #fff;
    padding: 3px 0;
}

.filterbtn {
    bottom: 0;
    padding: 0 0 1.875rem 0;
}
