.course-btn{
    width: 70px;
}

.course-btn .table-btn-sm:hover{
    background-color: white !important;
    color: #0465cc!important;
}

.course-width{
    width: fit-content;

}

.add-course{
    position: sticky;
    bottom: 0;
}

.course-row{
    max-height: 700px;
    overflow: scroll;
}

.course-row::-webkit-scrollbar{
    display: none;
}

.course-row .form-control{
    width: auto;
}
