.student-table .w-15{
    width: 15% ;
}

.student-table .w-30{
    width: 30%;
}

.student-table td:last-child{
    text-align: end !important;
}


@media screen and (max-width : 460px){
    .student-table{
        width: 800px !important;
    }

    .table-container{
        overflow: scroll;
    }

    .table-container::-webkit-scrollbar {
        display: none;
      }
}
